In [1]:
import pandas as pd

In [22]:
target = 1
outpath_ft_train = f'/home/ugrads/a/aa_ron_su/JSS_SUBMISSION/data/till_end_mimic_iv_extra_features_train_NOTE_TARGET{target}_FT_rad.csv'
outpath_ft_test = f'/home/ugrads/a/aa_ron_su/JSS_SUBMISSION/data/till_end_mimic_iv_extra_features_test_NOTE_TARGET{target}_FT_rad.csv'
temivef_train_NOTE_FT = pd.read_csv(outpath_ft_train)
temivef_test_NOTE_FT = pd.read_csv(outpath_ft_test)

In [23]:
target = 3
outpath_ft_train3 = f'/home/ugrads/a/aa_ron_su/JSS_SUBMISSION/data/till_end_mimic_iv_extra_features_train_NOTE_TARGET{target}_FT_rad.csv'
outpath_ft_test3 = f'/home/ugrads/a/aa_ron_su/JSS_SUBMISSION/data/till_end_mimic_iv_extra_features_test_NOTE_TARGET{target}_FT_rad.csv'
temivef_train_NOTE_FT3 = pd.read_csv(outpath_ft_train3)
temivef_test_NOTE_FT3 = pd.read_csv(outpath_ft_test3)

In [27]:
target = 5
outpath_ft_train5 = f'/home/ugrads/a/aa_ron_su/JSS_SUBMISSION/data/till_end_mimic_iv_extra_features_train_NOTE_TARGET{target}_FT_rad.csv'
outpath_ft_test5 = f'/home/ugrads/a/aa_ron_su/JSS_SUBMISSION/data/till_end_mimic_iv_extra_features_test_NOTE_TARGET{target}_FT_rad.csv'
temivef_train_NOTE_FT5 = pd.read_csv(outpath_ft_train5)
temivef_test_NOTE_FT5 = pd.read_csv(outpath_ft_test5)

In [31]:
num_stays_w_target = (
    temivef_train_NOTE_FT[temivef_train_NOTE_FT['delta_in_2_days'] != 0]['ICUSTAY_ID'].nunique(),
    temivef_test_NOTE_FT[temivef_test_NOTE_FT['delta_in_2_days'] != 0]['ICUSTAY_ID'].nunique(),
    )
num_stays_w_target
sum(num_stays_w_target)

9827

In [30]:
num_stays_w_target3 = (
    temivef_train_NOTE_FT3[temivef_train_NOTE_FT3['delta_in_3_days'] != 0]['ICUSTAY_ID'].nunique(),
    temivef_test_NOTE_FT3[temivef_test_NOTE_FT3['delta_in_3_days'] != 0]['ICUSTAY_ID'].nunique(),
    )
num_stays_w_target3
sum(num_stays_w_target3)

9876

In [29]:
num_stays_w_target5 = (
    temivef_train_NOTE_FT5[temivef_train_NOTE_FT5['delta_in_5_days'] != 0]['ICUSTAY_ID'].nunique(),
    temivef_test_NOTE_FT5[temivef_test_NOTE_FT5['delta_in_5_days'] != 0]['ICUSTAY_ID'].nunique(),
    )
num_stays_w_target5
sum(num_stays_w_target5)

9901

8348

In [13]:
subjs = get_icustay_with_target(temivef_train_NOTE_FT)

In [14]:
subjs

       text  delta_in_2_days  NOTE_ID
0         1                1        1
1         1                1        1
2         4                4        4
3         4                4        4
4         4                4        4
...     ...              ...      ...
76143     1                1        1
76144     1                1        1
76145     3                3        3
76146     3                3        3
76147     3                3        3

[76148 rows x 3 columns]