In [1]:
import os
import torch
import pandas as pd
testing = False
GPU_NO = 3
os.environ["CUDA_VISIBLE_DEVICES"] = str(3)  # use the correct gpu
device = torch.device(f'cuda' if torch.cuda.is_available() else 'cpu')
print(f"device: {device}")

device: cuda

In [3]:
# temivef_train_NOTE_TARGET1_FT_path = '/home/ugrads/a/aa_ron_su/data/till_end_mimic_iv_extra_features_train_NOTE_TARGET1_FT.csv'
# temivef_test_NOTE_TARGET1_FT_path = '/home/ugrads/a/aa_ron_su/data/till_end_mimic_iv_extra_features_test_NOTE_TARGET1_FT.csv'
# temivef_train_NOTE_path = '/home/ugrads/a/aa_ron_su/data/till_end_mimic_iv_extra_features_train_NOTE.csv'
# temivef_test_NOTE_path = '/home/ugrads/a/aa_ron_su/data/till_end_mimic_iv_extra_features_test_NOTE.csv'
train_outpath = '/home/ugrads/a/aa_ron_su/BoXHED_Fuse/BoXHED_Fuse/data/final/Clinical-T5-Base_rad_recent_out/from_epoch6/2/till_end_mimic_iv_extra_features_train.csv' # modify this line!
test_outpath = '/home/ugrads/a/aa_ron_su/BoXHED_Fuse/BoXHED_Fuse/data/final/Clinical-T5-Base_rad_recent_out/from_epoch6/2/till_end_mimic_iv_extra_features_test.csv' # modify this line!
temivef_train_path = '/home/ugrads/a/aa_ron_su/BoXHED_Fuse/BoXHED_Fuse/data/till_end_mimic_iv_extra_features_train.csv'
temivef_test_path = '/home/ugrads/a/aa_ron_su/BoXHED_Fuse/BoXHED_Fuse/data/till_end_mimic_iv_extra_features_test.csv'

# root = '/home/ugrads/a/aa_ron_su/physionet.org/files/clinical-t5/1.0.0/'
# finetuned_model_path = root + '/model/meta_ft_classify.pt' # modify this line!

In [4]:
train_arash = pd.read_csv(temivef_train_path)
test_arash = pd.read_csv(temivef_test_path)

In [5]:
train_final = pd.read_csv(train_outpath)
test_final = pd.read_csv(test_outpath)

In [10]:
train_final.subject.nunique(), train_arash.subject.nunique()

(24764, 24764)

In [28]:
test_final.drop(['text_y'], axis=1, inplace=True)

In [31]:
test_final.to_csv(test_outpath, index=False)

In [32]:
train_final.to_csv(train_outpath, index=False)

In [35]:
[c for c in test_final.columns if c not in test_arash.columns]

['time_since_note',
 'emb0',
 'emb1',
 'emb2',
 'emb3',
 'emb4',
 'emb5',
 'emb6',
 'emb7',
 'emb8',
 'emb9',
 'emb10',
 'emb11',
 'emb12',
 'emb13',
 'emb14',
 'emb15',
 'emb16',
 'emb17',
 'emb18',
 'emb19',
 'emb20',
 'emb21',
 'emb22',
 'emb23',
 'emb24',
 'emb25',
 'emb26',
 'emb27',
 'emb28',
 'emb29',
 'emb30',
 'emb31',
 'emb32',
 'emb33',
 'emb34',
 'emb35',
 'emb36',
 'emb37',
 'emb38',
 'emb39',
 'emb40',
 'emb41',
 'emb42',
 'emb43',
 'emb44',
 'emb45',
 'emb46',
 'emb47',
 'emb48',
 'emb49',
 'emb50',
 'emb51',
 'emb52',
 'emb53',
 'emb54',
 'emb55',
 'emb56',
 'emb57',
 'emb58',
 'emb59',
 'emb60',
 'emb61',
 'emb62',
 'emb63']

In [41]:
len(train_final[train_final.emb0.isna()]) / len(train_final)

0.07345381106171604

In [42]:
len(test_final[test_final.emb0.isna()]) / len(test_final)

0.06305647592726359

In [34]:
test_final.Icustay.nunique(), test_arash.Icustay.nunique()

(5352, 5352)

In [37]:
df_final_small = df_final.drop([i for i in df_final.columns if i not in df_orig.columns], axis=1)
view = df_orig.merge(df_final_small, how='outer', indicator=True)
bad_rows = view[view['_merge'] != 'both']

In [45]:
def df_checks(df_orig, df_final):
    len1 = len(df_orig)
    len2 = len(df_final)
    assert(len1 == len2) 
    print("lengths match")

    assert([i for i in df_orig.columns if i not in df_final.columns] == [])
    print("old column names match.")
    print(f"new columns: {[i for i in df_final.columns if i not in df_orig.columns]}")

    a = pd.Series(df_orig.sort_values('Icustay')['Icustay'].unique())
    b = pd.Series(df_final.sort_values('Icustay')['Icustay'].unique())
    assert(a.equals(b))
    print("Icustays match")

    c = pd.Series(df_orig.sort_values('subject')['subject'].unique())
    d = pd.Series(df_final.sort_values('subject')['subject'].unique())
    assert(c.equals(d))
    print("subjects match")

    df_final_small = df_final.drop([i for i in df_final.columns if i not in df_orig.columns], axis=1)
    view = df_orig.merge(df_final_small, how='outer', indicator=True)
    bad_rows = view[view['_merge'] != 'both']
    assert(bad_rows.empty)
    print("merge outer test passed")
    
    print("ALL TESTS PASSED")

df_checks(round(test_arash,2), round(test_final,2))
df_checks(round(train_arash,2), round(train_final,2))

lengths match
old column names match.
new columns: ['time_since_note', 'emb0', 'emb1', 'emb2', 'emb3', 'emb4', 'emb5', 'emb6', 'emb7', 'emb8', 'emb9', 'emb10', 'emb11', 'emb12', 'emb13', 'emb14', 'emb15', 'emb16', 'emb17', 'emb18', 'emb19', 'emb20', 'emb21', 'emb22', 'emb23', 'emb24', 'emb25', 'emb26', 'emb27', 'emb28', 'emb29', 'emb30', 'emb31', 'emb32', 'emb33', 'emb34', 'emb35', 'emb36', 'emb37', 'emb38', 'emb39', 'emb40', 'emb41', 'emb42', 'emb43', 'emb44', 'emb45', 'emb46', 'emb47', 'emb48', 'emb49', 'emb50', 'emb51', 'emb52', 'emb53', 'emb54', 'emb55', 'emb56', 'emb57', 'emb58', 'emb59', 'emb60', 'emb61', 'emb62', 'emb63']
Icustays match
subjects match
merge outer test passed
ALL TESTS PASSED
lengths match
old column names match.
new columns: ['time_since_note', 'emb0', 'emb1', 'emb2', 'emb3', 'emb4', 'emb5', 'emb6', 'emb7', 'emb8', 'emb9', 'emb10', 'emb11', 'emb12', 'emb13', 'emb14', 'emb15', 'emb16', 'emb17', 'emb18', 'emb19', 'emb20', 'emb21', 'emb22', 'emb23', 'emb24', 'emb25', 'emb26', 'emb27', 'emb28', 'emb29', 'emb30', 'emb31', 'emb32', 'emb33', 'emb34', 'emb35', 'emb36', 'emb37', 'emb38', 'emb39', 'emb40', 'emb41', 'emb42', 'emb43', 'emb44', 'emb45', 'emb46', 'emb47', 'emb48', 'emb49', 'emb50', 'emb51', 'emb52', 'emb53', 'emb54', 'emb55', 'emb56', 'emb57', 'emb58', 'emb59', 'emb60', 'emb61', 'emb62', 'emb63']
Icustays match
subjects match
merge outer test passed
ALL TESTS PASSED

In [43]:
X = pd.DataFrame()
X.empty

True

In [9]:
train_arash
test_arash

,subject,Icustay,t_start,t_end,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,Glascow coma scale total,Glucose,Heart Rate,...,Vd/Vt Ratio,Resting Energy Expenditure,Resistance,O2 Consumption,Respiratory Quotient,#past_IVs,t_from_last_IV_t_start,t_from_last_IV_t_end,delta,Y
0,10002760.0,31831386.0,0.204,0.671,NaN,NaN,NaN,NaN,162.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,1.0
1,10002760.0,31831386.0,0.671,1.237,NaN,NaN,NaN,NaN,131.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,1.0
2,10002760.0,31831386.0,1.237,1.254,NaN,56.0,NaN,NaN,NaN,97.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0,1.0
3,10002760.0,31831386.0,1.254,1.287,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,0.000,NaN,0.0,0.0
4,10002760.0,31831386.0,1.287,1.304,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,0.033,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1018907,19999068.0,30143796.0,158.267,158.567,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,124.117,54.100,0.0,1.0
1018908,19999068.0,30143796.0,158.567,158.650,NaN,68.0,NaN,14.0,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,1.0,124.417,54.400,0.0,1.0
1018909,19999068.0,30143796.0,158.650,159.483,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,124.500,54.483,0.0,1.0
1018910,19999068.0,30143796.0,159.483,159.567,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,125.333,55.316,0.0,1.0
1018911,19999068.0,30143796.0,159.567,160.200,NaN,86.0,NaN,NaN,NaN,88.0,...,NaN,NaN,NaN,NaN,NaN,1.0,125.417,55.400,0.0,1.0

In [8]:
train_final
test_final

,subject,Icustay,t_start,t_end,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,Glascow coma scale total,Glucose,Heart Rate,...,emb54,emb55,emb56,emb57,emb58,emb59,emb60,emb61,emb62,emb63
0,19609454.0,30001656.0,0.533,0.583,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,19609454.0,30001656.0,0.583,0.600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19609454.0,30001656.0,0.600,0.650,NaN,NaN,NaN,NaN,NaN,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,19609454.0,30001656.0,0.650,0.700,NaN,107.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,19609454.0,30001656.0,0.700,0.717,NaN,107.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1018907,15709718.0,39998138.0,25.650,25.817,NaN,NaN,NaN,NaN,NaN,NaN,...,0.152239,0.064829,0.061567,-0.088733,-0.045183,-0.160692,-0.073159,-0.036286,-0.176237,0.08046
1018908,15709718.0,39998138.0,25.817,25.883,NaN,60.0,NaN,NaN,NaN,NaN,...,0.152239,0.064829,0.061567,-0.088733,-0.045183,-0.160692,-0.073159,-0.036286,-0.176237,0.08046
1018909,15709718.0,39998138.0,25.883,26.067,NaN,NaN,NaN,NaN,NaN,25.0,...,0.152239,0.064829,0.061567,-0.088733,-0.045183,-0.160692,-0.073159,-0.036286,-0.176237,0.08046
1018910,15709718.0,39998138.0,26.067,27.600,NaN,NaN,NaN,NaN,NaN,26.0,...,0.152239,0.064829,0.061567,-0.088733,-0.045183,-0.160692,-0.073159,-0.036286,-0.176237,0.08046
1018911,15709718.0,39998138.0,27.600,27.617,NaN,NaN,NaN,NaN,NaN,NaN,...,0.152239,0.064829,0.061567,-0.088733,-0.045183,-0.160692,-0.073159,-0.036286,-0.176237,0.08046

In [8]:
# temivef_train_NOTE = pd.read_csv(temivef_train_NOTE_path)

In [31]:
# temivef_train = pd.read_csv(temivef_train_path)
# temivef_test = pd.read_csv(temivef_test_path)

In [ ]:
# temivef_train_NOTE

In [ ]:
# temivef_train

In [6]:
# print(next(classifier.parameters()).device)

cuda:0

In [32]:
# check cohort before extract_embeddings
temivef_train
temivef_test

,subject,Icustay,t_start,t_end,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,Glascow coma scale total,Glucose,Heart Rate,...,Vd/Vt Ratio,Resting Energy Expenditure,Resistance,O2 Consumption,Respiratory Quotient,#past_IVs,t_from_last_IV_t_start,t_from_last_IV_t_end,delta,Y
0,10002760.0,31831386.0,0.204,0.671,NaN,NaN,NaN,NaN,162.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,1.0
1,10002760.0,31831386.0,0.671,1.237,NaN,NaN,NaN,NaN,131.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,1.0
2,10002760.0,31831386.0,1.237,1.254,NaN,56.0,NaN,NaN,NaN,97.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0,1.0
3,10002760.0,31831386.0,1.254,1.287,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,0.000,NaN,0.0,0.0
4,10002760.0,31831386.0,1.287,1.304,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,0.033,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1018907,19999068.0,30143796.0,158.267,158.567,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,124.117,54.100,0.0,1.0
1018908,19999068.0,30143796.0,158.567,158.650,NaN,68.0,NaN,14.0,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,1.0,124.417,54.400,0.0,1.0
1018909,19999068.0,30143796.0,158.650,159.483,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,124.500,54.483,0.0,1.0
1018910,19999068.0,30143796.0,159.483,159.567,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,125.333,55.316,0.0,1.0
1018911,19999068.0,30143796.0,159.567,160.200,NaN,86.0,NaN,NaN,NaN,88.0,...,NaN,NaN,NaN,NaN,NaN,1.0,125.417,55.400,0.0,1.0

In [33]:
train

,ICUSTAY_ID,text,delta_in_2_days
0,30000484.0,\nName: ___ Unit No: ___\n \...,0
1,30001947.0,\nName: ___ Unit No: ___\n...,1
2,30002521.0,\nName: ___ Unit No: ___...,0
3,30003202.0,\nName: ___. Unit No: ___\n \...,0
4,30003226.0,\nName: ___ Unit No: __...,0
...,...,...,...
14568,39996870.0,\nName: ___ Unit No: ___\...,0
14569,39998012.0,\nName: ___ Unit No: ___\n \nA...,0
14570,39999230.0,\nName: ___ Unit No: __...,0
14571,39999301.0,\nName: ___ Unit No: ___\n...,1
14572,39999301.0,\nName: ___ Unit No: ___\n...,1

In [26]:
#check cohort after extract_embeddings
train_final
test_final

,subject,Icustay,t_start,t_end,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,Glascow coma scale total,Glucose,Heart Rate,...,emb54,emb55,emb56,emb57,emb58,emb59,emb60,emb61,emb62,emb63
0,19609454.0,30001656.0,0.533,0.583,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,19609454.0,30001656.0,0.583,0.600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19609454.0,30001656.0,0.600,0.650,NaN,NaN,NaN,NaN,NaN,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,19609454.0,30001656.0,0.650,0.700,NaN,107.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,19609454.0,30001656.0,0.700,0.717,NaN,107.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079584,15709718.0,39998138.0,25.650,25.817,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1079585,15709718.0,39998138.0,25.817,25.883,NaN,60.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1079586,15709718.0,39998138.0,25.883,26.067,NaN,NaN,NaN,NaN,NaN,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1079587,15709718.0,39998138.0,26.067,27.600,NaN,NaN,NaN,NaN,NaN,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1079588,15709718.0,39998138.0,27.600,27.617,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
len(test_final) - len(temivef_test)

60677