In [ ]:
import pandas as pd
# Set pandas display options to show all rows and columns
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)  # Display full column width
from helpers import convert_to_list

train_path = '/home/ugrads/a/aa_ron_su/BoXHED_Fuse/JSS_SUBMISSION_NEW/data/till_end_mimic_iv_extra_features_train.csv'
train = pd.read_csv(train_path)

In [ ]:
view= train[['subject', 'Icustay', 'delta']]
view1 = view.groupby('subject').apply(lambda x : sum(x.delta))
view2 = view.groupby('Icustay').apply(lambda x : sum(x.delta))

In [ ]:
view1.sort_values(ascending=False)

In [ ]:
view2.sort_values(ascending=False).head(100)

In [ ]:
len(view1), view1.sum()

In [ ]:
len(view2), view2.sum()

In [56]:
import pandas as pd
from helpers import convert_to_list


train_note = pd.read_csv('/home/ugrads/a/aa_ron_su/BoXHED_Fuse/JSS_SUBMISSION_NEW/data/testing/till_end_mimic_iv_extra_features_train_NOTE_rad_all.csv')
train_path_OLD = '/home/ugrads/a/aa_ron_su/BoXHED_Fuse/JSS_SUBMISSION_NEW/data/targets/testing/compare/till_end_mimic_iv_extra_features_train_NOTE_TARGET_2_rad_all.csv'
train_target_OLD = pd.read_csv(train_path_OLD, converters = {'NOTE_ID': convert_to_list})

train_path = '/home/ugrads/a/aa_ron_su/BoXHED_Fuse/JSS_SUBMISSION_NEW/data/targets/testing/till_end_mimic_iv_extra_features_train_NOTE_TARGET_2_rad_all.csv'
train_path2 = '/home/ugrads/a/aa_ron_su/BoXHED_Fuse/JSS_SUBMISSION_NEW/data/targets/testing/till_end_mimic_iv_extra_features_train_NOTE_TARGET_2_rad_recent.csv'
train_target = pd.read_csv(train_path, converters = {'NOTE_ID_SEQ': convert_to_list})
train_target2 = pd.read_csv(train_path2)

test_path = '/home/ugrads/a/aa_ron_su/BoXHED_Fuse/JSS_SUBMISSION_NEW/data/targets/testing/till_end_mimic_iv_extra_features_test_NOTE_TARGET_2_rad_all.csv'
test_path2 = '/home/ugrads/a/aa_ron_su/BoXHED_Fuse/JSS_SUBMISSION_NEW/data/targets/testing/till_end_mimic_iv_extra_features_test_NOTE_TARGET_2_rad_recent.csv'
test_target = pd.read_csv(test_path, converters = {'NOTE_ID_SEQ': convert_to_list})
test_target2 = pd.read_csv(test_path2)

In [65]:
train_target.NOTE_ID.isna()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21     True
22    False
23    False
24    False
25    False
Name: NOTE_ID, dtype: bool

In [67]:
train_target.NOTE_ID_SEQ.apply(lambda x : len(x) == 0)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21     True
22    False
23    False
24    False
25    False
Name: NOTE_ID_SEQ, dtype: bool

In [51]:
len(train_target_OLD.ICUSTAY_ID.unique())

14

In [52]:
len(train_target.ICUSTAY_ID.unique())

14

In [55]:
pd.isna(train_target.NOTE_ID_SEQ)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
Name: NOTE_ID_SEQ, dtype: bool

In [33]:
train_target

,ICUSTAY_ID,NOTE_ID,delta_in_2_days,NOTE_ID_SEQ
0,30676350.0,10003019-RR-66,0,"[10003019-RR-16, 10003019-RR-17, 10003019-RR-1..."
1,31090461.0,10002155-RR-52,0,"[10002155-RR-22, 10002155-RR-23, 10002155-RR-2..."
2,31205490.0,10001725-RR-12,0,"[10001725-RR-10, 10001725-RR-11, 10001725-RR-12]"
3,32128372.0,10003400-RR-66,0,"[10003400-RR-49, 10003400-RR-50, 10003400-RR-5..."
4,32128372.0,10003400-RR-67,0,"[10003400-RR-49, 10003400-RR-50, 10003400-RR-5..."
5,32128372.0,10003400-RR-68,0,"[10003400-RR-49, 10003400-RR-50, 10003400-RR-5..."
6,33685454.0,10002155-RR-29,0,"[10002155-RR-22, 10002155-RR-23, 10002155-RR-2..."
7,33685454.0,10002155-RR-31,0,"[10002155-RR-22, 10002155-RR-23, 10002155-RR-2..."
8,33685454.0,10002155-RR-32,0,"[10002155-RR-22, 10002155-RR-23, 10002155-RR-2..."
9,33685454.0,10002155-RR-33,0,"[10002155-RR-22, 10002155-RR-23, 10002155-RR-2..."
10,33685454.0,10002155-RR-34,0,"[10002155-RR-22, 10002155-RR-23, 10002155-RR-2..."
11,34592300.0,10001217-RR-20,0,"[10001217-RR-9, 10001217-RR-10, 10001217-RR-11..."
12,34807493.0,10002428-RR-89,0,"[10002428-RR-48, 10002428-RR-50, 10002428-RR-5..."
13,35514836.0,10003046-RR-6,0,[10003046-RR-6]
14,35514836.0,10003046-RR-7,0,"[10003046-RR-6, 10003046-RR-7]"
15,35514836.0,10003046-RR-8,0,"[10003046-RR-6, 10003046-RR-7, 10003046-RR-8]"
16,35514836.0,10003046-RR-10,0,"[10003046-RR-6, 10003046-RR-7, 10003046-RR-8, ..."
17,35514836.0,10003046-RR-9,0,"[10003046-RR-6, 10003046-RR-7, 10003046-RR-8, ..."
18,37049133.0,10002930-RR-19,0,[10002930-RR-19]
19,37067082.0,10001217-RR-13,0,"[10001217-RR-9, 10001217-RR-10, 10001217-RR-11..."
20,37067082.0,10001217-RR-14,0,"[10001217-RR-9, 10001217-RR-10, 10001217-RR-11..."
21,39060235.0,10002013-RR-52,1,"[10002013-RR-32, 10002013-RR-34, 10002013-RR-3..."
22,39060235.0,10002013-RR-53,1,"[10002013-RR-32, 10002013-RR-34, 10002013-RR-3..."
23,39553978.0,10000032-RR-45,0,"[10000032-RR-14, 10000032-RR-15, 10000032-RR-1..."
24,39765666.0,10000980-RR-62,0,"[10000980-RR-52, 10000980-RR-55, 10000980-RR-5..."

In [12]:
train_target

,ICUSTAY_ID,NOTE_ID,delta_in_2_days
0,30676350.0,"[10003019-RR-16, 10003019-RR-17, 10003019-RR-1...",0
1,31090461.0,"[10002155-RR-22, 10002155-RR-23, 10002155-RR-2...",0
2,31090461.0,"[10002155-RR-54, 10002155-RR-22, 10002155-RR-2...",0
3,31090461.0,"[10002155-RR-54, 10002155-RR-53, 10002155-RR-2...",0
4,31090461.0,"[10002155-RR-54, 10002155-RR-53, 10002155-RR-5...",0
5,31090461.0,"[10002155-RR-54, 10002155-RR-53, 10002155-RR-5...",0
6,31205490.0,"[10001725-RR-10, 10001725-RR-11, 10001725-RR-12]",0
7,32128372.0,"[10003400-RR-49, 10003400-RR-50, 10003400-RR-5...",0
8,32128372.0,"[10003400-RR-49, 10003400-RR-50, 10003400-RR-5...",0
9,32128372.0,"[10003400-RR-49, 10003400-RR-50, 10003400-RR-5...",0
10,32358465.0,"[10002155-RR-54, 10002155-RR-53, 10002155-RR-5...",0
11,33685454.0,"[10002155-RR-22, 10002155-RR-23, 10002155-RR-2...",0
12,33685454.0,"[10002155-RR-22, 10002155-RR-23, 10002155-RR-2...",0
13,33685454.0,"[10002155-RR-22, 10002155-RR-23, 10002155-RR-2...",0
14,33685454.0,"[10002155-RR-22, 10002155-RR-23, 10002155-RR-2...",0
15,33685454.0,"[10002155-RR-22, 10002155-RR-23, 10002155-RR-2...",0
16,34592300.0,"[10001217-RR-9, 10001217-RR-10, 10001217-RR-11...",0
17,34592300.0,"[10001217-RR-23, 10001217-RR-9, 10001217-RR-10...",0
18,34807493.0,"[10002428-RR-48, 10002428-RR-50, 10002428-RR-5...",0
19,35514836.0,[10003046-RR-6],0
20,35514836.0,"[10003046-RR-6, 10003046-RR-7]",0
21,35514836.0,"[10003046-RR-6, 10003046-RR-7, 10003046-RR-8]",0
22,35514836.0,"[10003046-RR-6, 10003046-RR-7, 10003046-RR-8, ...",0
23,35514836.0,"[10003046-RR-6, 10003046-RR-7, 10003046-RR-8, ...",0
24,37049133.0,[10002930-RR-19],0
25,37067082.0,"[10001217-RR-9, 10001217-RR-10, 10001217-RR-11...",0
26,37067082.0,"[10001217-RR-9, 10001217-RR-10, 10001217-RR-11...",0
27,39060235.0,"[10002013-RR-32, 10002013-RR-34, 10002013-RR-3...",1
28,39060235.0,"[10002013-RR-32, 10002013-RR-34, 10002013-RR-3...",1
29,39553978.0,"[10000032-RR-14, 10000032-RR-15, 10000032-RR-1...",0
30,39765666.0,"[10000980-RR-52, 10000980-RR-55, 10000980-RR-5...",0

In [5]:
train_target.explode('NOTE_ID').drop_duplicates(subset='NOTE_ID')

    ICUSTAY_ID         NOTE_ID  delta_in_2_days
0   30676350.0  10003019-RR-16                0
0   30676350.0  10003019-RR-17                0
0   30676350.0  10003019-RR-19                0
0   30676350.0  10003019-RR-20                0
0   30676350.0  10003019-RR-21                0
..         ...             ...              ...
30  39765666.0  10000980-RR-57                0
30  39765666.0  10000980-RR-58                0
30  39765666.0  10000980-RR-60                0
30  39765666.0  10000980-RR-61                0
30  39765666.0  10000980-RR-62                0

[190 rows x 3 columns]

In [9]:
len(train_target)

31

In [8]:
len(train_target2)

25

In [6]:
train_target

,ICUSTAY_ID,NOTE_ID,delta_in_2_days
0,30676350.0,"[10003019-RR-16, 10003019-RR-17, 10003019-RR-1...",0
1,31090461.0,"[10002155-RR-22, 10002155-RR-23, 10002155-RR-2...",0
2,31090461.0,"[10002155-RR-54, 10002155-RR-22, 10002155-RR-2...",0
3,31090461.0,"[10002155-RR-54, 10002155-RR-53, 10002155-RR-2...",0
4,31090461.0,"[10002155-RR-54, 10002155-RR-53, 10002155-RR-5...",0
5,31090461.0,"[10002155-RR-54, 10002155-RR-53, 10002155-RR-5...",0
6,31205490.0,"[10001725-RR-10, 10001725-RR-11, 10001725-RR-12]",0
7,32128372.0,"[10003400-RR-49, 10003400-RR-50, 10003400-RR-5...",0
8,32128372.0,"[10003400-RR-49, 10003400-RR-50, 10003400-RR-5...",0
9,32128372.0,"[10003400-RR-49, 10003400-RR-50, 10003400-RR-5...",0
10,32358465.0,"[10002155-RR-54, 10002155-RR-53, 10002155-RR-5...",0
11,33685454.0,"[10002155-RR-22, 10002155-RR-23, 10002155-RR-2...",0
12,33685454.0,"[10002155-RR-22, 10002155-RR-23, 10002155-RR-2...",0
13,33685454.0,"[10002155-RR-22, 10002155-RR-23, 10002155-RR-2...",0
14,33685454.0,"[10002155-RR-22, 10002155-RR-23, 10002155-RR-2...",0
15,33685454.0,"[10002155-RR-22, 10002155-RR-23, 10002155-RR-2...",0
16,34592300.0,"[10001217-RR-9, 10001217-RR-10, 10001217-RR-11...",0
17,34592300.0,"[10001217-RR-23, 10001217-RR-9, 10001217-RR-10...",0
18,34807493.0,"[10002428-RR-48, 10002428-RR-50, 10002428-RR-5...",0
19,35514836.0,[10003046-RR-6],0
20,35514836.0,"[10003046-RR-6, 10003046-RR-7]",0
21,35514836.0,"[10003046-RR-6, 10003046-RR-7, 10003046-RR-8]",0
22,35514836.0,"[10003046-RR-6, 10003046-RR-7, 10003046-RR-8, ...",0
23,35514836.0,"[10003046-RR-6, 10003046-RR-7, 10003046-RR-8, ...",0
24,37049133.0,[10002930-RR-19],0
25,37067082.0,"[10001217-RR-9, 10001217-RR-10, 10001217-RR-11...",0
26,37067082.0,"[10001217-RR-9, 10001217-RR-10, 10001217-RR-11...",0
27,39060235.0,"[10002013-RR-32, 10002013-RR-34, 10002013-RR-3...",1
28,39060235.0,"[10002013-RR-32, 10002013-RR-34, 10002013-RR-3...",1
29,39553978.0,"[10000032-RR-14, 10000032-RR-15, 10000032-RR-1...",0
30,39765666.0,"[10000980-RR-52, 10000980-RR-55, 10000980-RR-5...",0

In [ ]:
len(train_target2),len(train_target)

In [ ]:
len(test_target2),len(test_target)

In [ ]:
test_target[test_target['delta_in_2_days'] == 1]

In [ ]:
test_target2[test_target2['ICUSTAY_ID'] == 30600691]

In [ ]:
test_target2[test_target2['delta_in_2_days'] == 1]

In [ ]:
train_target[train_target['delta_in_2_days'] == 1].NOTE_ID.iloc[1]

In [ ]:
train_target2[train_target2['delta_in_2_days'] == 1].NOTE_ID

In [ ]:
exploded = train_target.explode('NOTE_ID')

In [ ]:
exploded

In [ ]:
train_note.NOTE_ID